<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hua.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PopupActivity"></activity>
        <activity android:name=".DialogActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".recyclerview.StageActivity" />
        <activity android:name=".recyclerview.HorLinearActivity" />
        <activity android:name=".recyclerview.LinearActivity" />
        <activity android:name=".recyclerview.RecyclerActivity" /> <!-- 解决ERR_CLEARTEXT_NOT_PERMITTED问题 -->
        <activity android:name=".WebViewActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>